In [1]:
import pandas as pd
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [ ]:
print("Training Data Head:")
train_data.head()

Training Data Head:

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [ ]:
print("Training Data Info:")
print(train_data.info())

print("Training Data Description:")
print(train_data.describe())

print("Training Data Columns:")
print(train_data.columns)

Training Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB
None
Training Data Description:
               Age   RoomService     FoodCourt  ShoppingMall           Spa  \
count  8514.000000   8512.000000   8510.000000   8485.000000   8510.000000
mean     28.827930    224.687617    458.077203    173.729169    311.138778
std      14.489021    666.717663   1611.489240    604.696458   1136.705535
min       0.000000      0.000000      0.000000      0.000000      0.000000
25%      19.000000      0.000000      0.000000      0.000000      0.000000
50%      27.000000      0.000000      0.000000      0.000000      0.000000
75%      38.000000     47.000000     76.000000     27.000000     59.000000
max      79.000000  14327.000000  29813.000000  23492.000000  22408.000000

             VRDeck
count   8505.000000
mean     304.854791
std     1145.717189
min        0.000000
25%        0.000000
50%        0.000000
75%       46.000000
max    24133.000000
Training Data Columns:
Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported'],
      dtype='object')

In [ ]:
print("Test Data Head:")
test_data.head()

Test Data Head:

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [ ]:
print("Testing Data Info:")
print(test_data.info())

print("Testing Data Description:")
print(test_data.describe())

print("Testing Data Columns:")
print(test_data.columns)

Testing Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: float64(6), object(7)
memory usage: 434.5+ KB
None
Testing Data Description:
               Age   RoomService     FoodCourt  ShoppingMall           Spa  \
count  4186.000000   4195.000000   4171.000000   4179.000000   4176.000000
mean     28.658146    219.266269    439.484296    177.295525    303.052443
std      14.179072    607.011289   1527.663045    560.821123   1117.186015
min       0.000000      0.000000      0.000000      0.000000      0.000000
25%      19.000000      0.000000      0.000000      0.000000      0.000000
50%      26.000000      0.000000      0.000000      0.000000      0.000000
75%      37.000000     53.000000     78.000000     33.000000     50.000000
max      79.000000  11567.000000  25273.000000   8292.000000  19844.000000

             VRDeck
count   4197.000000
mean     310.710031
std     1246.994742
min        0.000000
25%        0.000000
50%        0.000000
75%       36.000000
max    22272.000000
Testing Data Columns:
Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name'],
      dtype='object')

In [ ]:
print("Training Data Missing Values:")
missing_values = train_data.isnull().sum
print(train_data.isnull().sum().to_markdown(numalign="left", stralign="left"))

Training Data Missing Values:
|              | 0   |
|:-------------|:----|
| PassengerId  | 0   |
| HomePlanet   | 201 |
| CryoSleep    | 217 |
| Cabin        | 199 |
| Destination  | 182 |
| Age          | 179 |
| VIP          | 203 |
| RoomService  | 181 |
| FoodCourt    | 183 |
| ShoppingMall | 208 |
| Spa          | 183 |
| VRDeck       | 188 |
| Name         | 200 |
| Transported  | 0   |

Data Cleaning and Preprocessing

In [ ]:
def fillmissing(dattaf):
    dattaf['HomePlanet'] = dattaf['HomePlanet'].fillna('Earth')
    dattaf['CryoSleep'] = dattaf['CryoSleep'].fillna(False).infer_objects(copy=False)
    dattaf['Cabin'] = dattaf['Cabin'].fillna('Unknown')
    dattaf['Destination'] = dattaf['Destination'].fillna('TRAPPIST-1e')
    dattaf['Age'] = dattaf['Age'].fillna(dattaf['Age'].median())
    dattaf['VIP'] = dattaf['VIP'].fillna(False).infer_objects(copy=False)
    dattaf = dattaf.fillna(0)
    return dattaf

In [ ]:
# apply the function to the data
train_data = fillmissing(train_data)
test_data = fillmissing(test_data)

In [ ]:
#convert column into strin
label = ['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP']

for i in label:
    train_data[i] = train_data[i].astype(str)
    test_data[i] = test_data[i].astype(str)

In [ ]:
# combine the data
combined = pd.concat([train_data[label], test_data[label]], axis=0)

In [ ]:
# label encoding
from sklearn.preprocessing import LabelEncoder
label_encoders = {col: LabelEncoder().fit(combined[col]) for col in label}

In [ ]:
for col, label_encoder in label_encoders.items():
    train_data[col] = label_encoder.transform(train_data[col])
    test_data[col] = label_encoder.transform(test_data[col])

In [ ]:
X = train_data.drop(['PassengerId', 'Name', 'Cabin' 'Transported'], axis=1)
y = train_data['Transported'].astype(int)

X_test = test_data.drop(['PassengerId', 'Name'], axis=1)

In [ ]:
#train test split
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
X.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,1,0,208,2,39.0,0,0.0,0.0,0.0,0.0,0.0
1,0,0,3241,2,24.0,0,109.0,9.0,25.0,549.0,44.0
2,1,0,1,2,58.0,1,43.0,3576.0,0.0,6715.0,49.0
3,1,0,1,2,33.0,0,0.0,1283.0,371.0,3329.0,193.0
4,0,0,3243,2,16.0,0,303.0,70.0,151.0,565.0,2.0

In [ ]:
# Build the model
model = tf.keras.Sequential([
    tf.keras.layers.Dense(16, activation='relu', input_shape=(X_train.shape[1],)),
    tf.keras.layers.BatchNormalization(),  # Add Batch Normalization for faster convergence
    tf.keras.layers.Dropout(0.2),        # Add Dropout (20% probability) to prevent overfitting
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.BatchNormalization(),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.BatchNormalization(),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(1, activation='sigmoid')
])


# w

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
early_stopping = tf.keras.callbacks.EarlyStopping(patience=10, monitor='val_loss', restore_best_weights=True)

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                192

 batch_normalization (BatchN  (None, 16)               64
 ormalization)

 dropout (Dropout)           (None, 16)                0

 dense_1 (Dense)             (None, 64)                1088

 batch_normalization_1 (Batc  (None, 64)               256
 hNormalization)

 dropout_1 (Dropout)         (None, 64)                0

 dense_2 (Dense)             (None, 32)                2080

 batch_normalization_2 (Batc  (None, 32)               128
 hNormalization)

 dropout_2 (Dropout)         (None, 32)                0

 dense_3 (Dense)             (None, 1)                 33

=================================================================
Total params: 3,841
Trainable params: 3,617
Non-trainable params: 224
_________________________________________________________________

In [ ]:
model.fit(X_train, y_train, epochs=300, batch_size=32, validation_data=(X_val, y_val), callbacks=[early_stopping])

Epoch 1/300
218/218 [==============================] - 3s 5ms/step - loss: 0.6875 - accuracy: 0.6319 - val_loss: 0.5583 - val_accuracy: 0.7332
Epoch 2/300
218/218 [==============================] - 1s 5ms/step - loss: 0.5768 - accuracy: 0.7095 - val_loss: 0.5040 - val_accuracy: 0.7625
Epoch 3/300
218/218 [==============================] - 1s 5ms/step - loss: 0.5462 - accuracy: 0.7317 - val_loss: 0.4958 - val_accuracy: 0.7660
Epoch 4/300
218/218 [==============================] - 1s 5ms/step - loss: 0.5267 - accuracy: 0.7506 - val_loss: 0.4899 - val_accuracy: 0.7688
Epoch 5/300
218/218 [==============================] - 1s 5ms/step - loss: 0.5147 - accuracy: 0.7591 - val_loss: 0.4862 - val_accuracy: 0.7706
Epoch 6/300
218/218 [==============================] - 1s 5ms/step - loss: 0.5134 - accuracy: 0.7624 - val_loss: 0.4876 - val_accuracy: 0.7717
Epoch 7/300
218/218 [==============================] - 1s 5ms/step - loss: 0.5066 - accuracy: 0.7679 - val_loss: 0.4871 - val_accuracy: 0.7763
Epoch 8/300
218/218 [==============================] - 1s 5ms/step - loss: 0.4996 - accuracy: 0.7747 - val_loss: 0.4839 - val_accuracy: 0.7734
Epoch 9/300
218/218 [==============================] - 1s 5ms/step - loss: 0.4892 - accuracy: 0.7790 - val_loss: 0.4818 - val_accuracy: 0.7706
Epoch 10/300
218/218 [==============================] - 1s 5ms/step - loss: 0.4955 - accuracy: 0.7781 - val_loss: 0.4851 - val_accuracy: 0.7769
Epoch 11/300
218/218 [==============================] - 1s 5ms/step - loss: 0.4896 - accuracy: 0.7817 - val_loss: 0.4821 - val_accuracy: 0.7821
Epoch 12/300
218/218 [==============================] - 1s 5ms/step - loss: 0.4915 - accuracy: 0.7737 - val_loss: 0.4850 - val_accuracy: 0.7752
Epoch 13/300
218/218 [==============================] - 1s 5ms/step - loss: 0.4913 - accuracy: 0.7765 - val_loss: 0.4767 - val_accuracy: 0.7780
Epoch 14/300
218/218 [==============================] - 1s 5ms/step - loss: 0.4846 - accuracy: 0.7810 - val_loss: 0.4804 - val_accuracy: 0.7752
Epoch 15/300
218/218 [==============================] - 1s 5ms/step - loss: 0.4840 - accuracy: 0.7813 - val_loss: 0.4816 - val_accuracy: 0.7757
Epoch 16/300
218/218 [==============================] - 1s 5ms/step - loss: 0.4797 - accuracy: 0.7846 - val_loss: 0.4791 - val_accuracy: 0.7786
Epoch 17/300
218/218 [==============================] - 1s 5ms/step - loss: 0.4850 - accuracy: 0.7811 - val_loss: 0.4851 - val_accuracy: 0.7803
Epoch 18/300
218/218 [==============================] - 1s 5ms/step - loss: 0.4809 - accuracy: 0.7842 - val_loss: 0.4775 - val_accuracy: 0.7775
Epoch 19/300
218/218 [==============================] - 1s 5ms/step - loss: 0.4835 - accuracy: 0.7824 - val_loss: 0.4792 - val_accuracy: 0.7803
Epoch 20/300
218/218 [==============================] - 1s 5ms/step - loss: 0.4780 - accuracy: 0.7816 - val_loss: 0.4797 - val_accuracy: 0.7803
Epoch 21/300
218/218 [==============================] - 1s 5ms/step - loss: 0.4894 - accuracy: 0.7820 - val_loss: 0.4801 - val_accuracy: 0.7803
Epoch 22/300
218/218 [==============================] - 1s 5ms/step - loss: 0.4850 - accuracy: 0.7791 - val_loss: 0.5076 - val_accuracy: 0.7769
Epoch 23/300
218/218 [==============================] - 1s 5ms/step - loss: 0.4806 - accuracy: 0.7778 - val_loss: 0.4845 - val_accuracy: 0.7786

In [ ]:
# predict with accuracy
y_pred = model.predict(X_val)
y_pred = np.round(y_pred).astype(int)

from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_val, y_pred)
print(f'Accuracy: {accuracy}')

55/55 [==============================] - 0s 1ms/step
Accuracy: 0.7780333525014376