In [15]:
import pandas as pd
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [17]:
print("Training Data Head:")
train_data.head()

Training Data Head:

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [18]:
print("Training Data Info:")
print(train_data.info())

print("Training Data Description:")
print(train_data.describe())

print("Training Data Columns:")
print(train_data.columns)

Training Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB
None
Training Data Description:
               Age   RoomService     FoodCourt  ShoppingMall           Spa  \
count  8514.000000   8512.000000   8510.000000   8485.000000   8510.000000
mean     28.827930    224.687617    458.077203    173.729169    311.138778
std      14.489021    666.717663   1611.489240    604.696458   1136.705535
min       0.000000      0.000000      0.000000      0.000000      0.000000
25%      19.000000      0.000000      0.000000      0.000000      0.000000
50%      27.000000      0.000000      0.000000      0.000000      0.000000
75%      38.000000     47.000000     76.000000     27.000000     59.000000
max      79.000000  14327.000000  29813.000000  23492.000000  22408.000000

             VRDeck
count   8505.000000
mean     304.854791
std     1145.717189
min        0.000000
25%        0.000000
50%        0.000000
75%       46.000000
max    24133.000000
Training Data Columns:
Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported'],
      dtype='object')

In [19]:
print("Test Data Head:")
test_data.head()

Test Data Head:

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [20]:
print("Testing Data Info:")
print(test_data.info())

print("Testing Data Description:")
print(test_data.describe())

print("Testing Data Columns:")
print(test_data.columns)

Testing Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: float64(6), object(7)
memory usage: 434.5+ KB
None
Testing Data Description:
               Age   RoomService     FoodCourt  ShoppingMall           Spa  \
count  4186.000000   4195.000000   4171.000000   4179.000000   4176.000000
mean     28.658146    219.266269    439.484296    177.295525    303.052443
std      14.179072    607.011289   1527.663045    560.821123   1117.186015
min       0.000000      0.000000      0.000000      0.000000      0.000000
25%      19.000000      0.000000      0.000000      0.000000      0.000000
50%      26.000000      0.000000      0.000000      0.000000      0.000000
75%      37.000000     53.000000     78.000000     33.000000     50.000000
max      79.000000  11567.000000  25273.000000   8292.000000  19844.000000

             VRDeck
count   4197.000000
mean     310.710031
std     1246.994742
min        0.000000
25%        0.000000
50%        0.000000
75%       36.000000
max    22272.000000
Testing Data Columns:
Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name'],
      dtype='object')

In [21]:
print("Training Data Missing Values:")
missing_values = train_data.isnull().sum
print(train_data.isnull().sum().to_markdown(numalign="left", stralign="left"))

Training Data Missing Values:
|              | 0   |
|:-------------|:----|
| PassengerId  | 0   |
| HomePlanet   | 201 |
| CryoSleep    | 217 |
| Cabin        | 199 |
| Destination  | 182 |
| Age          | 179 |
| VIP          | 203 |
| RoomService  | 181 |
| FoodCourt    | 183 |
| ShoppingMall | 208 |
| Spa          | 183 |
| VRDeck       | 188 |
| Name         | 200 |
| Transported  | 0   |

Data Cleaning and Preprocessing

In [22]:
def fillmissing(dattaf):
    dattaf['HomePlanet'] = dattaf['HomePlanet'].fillna('Earth')
    dattaf['CryoSleep'] = dattaf['CryoSleep'].fillna(False).infer_objects(copy=False)
    dattaf['Cabin'] = dattaf['Cabin'].fillna('Unknown')
    dattaf['Destination'] = dattaf['Destination'].fillna('TRAPPIST-1e')
    dattaf['Age'] = dattaf['Age'].fillna(dattaf['Age'].median())
    dattaf['VIP'] = dattaf['VIP'].fillna(False).infer_objects(copy=False)
    dattaf = dattaf.fillna(0)
    return dattaf

In [23]:
# apply the function to the data
train_data = fillmissing(train_data)
test_data = fillmissing(test_data)

In [24]:
#convert column into strin
label = ['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP']

for i in label:
    train_data[i] = train_data[i].astype(str)
    test_data[i] = test_data[i].astype(str)

In [25]:
# combine the data
combined = pd.concat([train_data[label], test_data[label]], axis=0)

In [26]:
# label encoding
from sklearn.preprocessing import LabelEncoder
label_encoders = {col: LabelEncoder().fit(combined[col]) for col in label}

In [27]:
for col, label_encoder in label_encoders.items():
    train_data[col] = label_encoder.transform(train_data[col])
    test_data[col] = label_encoder.transform(test_data[col])

In [28]:
X = train_data.drop(['PassengerId', 'Name', 'Cabin', 'Transported'], axis=1)
y = train_data['Transported'].astype(int)

X_test = test_data.drop(['PassengerId', 'Name'], axis=1)

In [29]:
#train test split
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [30]:
X.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,1,0,2,39.0,0,0.0,0.0,0.0,0.0,0.0
1,0,0,2,24.0,0,109.0,9.0,25.0,549.0,44.0
2,1,0,2,58.0,1,43.0,3576.0,0.0,6715.0,49.0
3,1,0,2,33.0,0,0.0,1283.0,371.0,3329.0,193.0
4,0,0,2,16.0,0,303.0,70.0,151.0,565.0,2.0

In [31]:
# Build the model
model = tf.keras.Sequential([
    tf.keras.layers.Dense(16, activation='relu', input_shape=(X_train.shape[1],)),
    tf.keras.layers.BatchNormalization(),  # Add Batch Normalization for faster convergence
    tf.keras.layers.Dropout(0.2),        # Add Dropout (20% probability) to prevent overfitting
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.BatchNormalization(),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.BatchNormalization(),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(1, activation='sigmoid')
])


# w

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [32]:
early_stopping = tf.keras.callbacks.EarlyStopping(patience=10, monitor='val_loss', restore_best_weights=True)

In [33]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                176

 batch_normalization (BatchN  (None, 16)               64
 ormalization)

 dropout (Dropout)           (None, 16)                0

 dense_1 (Dense)             (None, 64)                1088

 batch_normalization_1 (Batc  (None, 64)               256
 hNormalization)

 dropout_1 (Dropout)         (None, 64)                0

 dense_2 (Dense)             (None, 32)                2080

 batch_normalization_2 (Batc  (None, 32)               128
 hNormalization)

 dropout_2 (Dropout)         (None, 32)                0

 dense_3 (Dense)             (None, 1)                 33

=================================================================
Total params: 3,825
Trainable params: 3,601
Non-trainable params: 224
_________________________________________________________________

In [36]:
model.fit(X_train, y_train, epochs=75, batch_size=32, validation_data=(X_val, y_val))

Epoch 1/75
218/218 [==============================] - 1s 6ms/step - loss: 0.4716 - accuracy: 0.7837 - val_loss: 0.4653 - val_accuracy: 0.7803
Epoch 2/75
218/218 [==============================] - 1s 5ms/step - loss: 0.4686 - accuracy: 0.7862 - val_loss: 0.4659 - val_accuracy: 0.7855
Epoch 3/75
218/218 [==============================] - 1s 5ms/step - loss: 0.4704 - accuracy: 0.7819 - val_loss: 0.4686 - val_accuracy: 0.7809
Epoch 4/75
218/218 [==============================] - 1s 5ms/step - loss: 0.4758 - accuracy: 0.7813 - val_loss: 0.4691 - val_accuracy: 0.7746
Epoch 5/75
218/218 [==============================] - 1s 5ms/step - loss: 0.4736 - accuracy: 0.7830 - val_loss: 0.4739 - val_accuracy: 0.7504
Epoch 6/75
218/218 [==============================] - 1s 5ms/step - loss: 0.4719 - accuracy: 0.7830 - val_loss: 0.4657 - val_accuracy: 0.7786
Epoch 7/75
218/218 [==============================] - 1s 5ms/step - loss: 0.4744 - accuracy: 0.7839 - val_loss: 0.4711 - val_accuracy: 0.7614
Epoch 8/75
218/218 [==============================] - 1s 5ms/step - loss: 0.4651 - accuracy: 0.7857 - val_loss: 0.4614 - val_accuracy: 0.7809
Epoch 9/75
218/218 [==============================] - 1s 5ms/step - loss: 0.4687 - accuracy: 0.7865 - val_loss: 0.4703 - val_accuracy: 0.7746
Epoch 10/75
218/218 [==============================] - 1s 5ms/step - loss: 0.4645 - accuracy: 0.7888 - val_loss: 0.4616 - val_accuracy: 0.7826
Epoch 11/75
218/218 [==============================] - 1s 5ms/step - loss: 0.4695 - accuracy: 0.7869 - val_loss: 0.4656 - val_accuracy: 0.7809
Epoch 12/75
218/218 [==============================] - 1s 5ms/step - loss: 0.4673 - accuracy: 0.7873 - val_loss: 0.4684 - val_accuracy: 0.7832
Epoch 13/75
218/218 [==============================] - 1s 5ms/step - loss: 0.4674 - accuracy: 0.7903 - val_loss: 0.4650 - val_accuracy: 0.7729
Epoch 14/75
218/218 [==============================] - 1s 5ms/step - loss: 0.4655 - accuracy: 0.7850 - val_loss: 0.4642 - val_accuracy: 0.7844
Epoch 15/75
218/218 [==============================] - 1s 5ms/step - loss: 0.4707 - accuracy: 0.7850 - val_loss: 0.4662 - val_accuracy: 0.7815
Epoch 16/75
218/218 [==============================] - 1s 5ms/step - loss: 0.4624 - accuracy: 0.7889 - val_loss: 0.4737 - val_accuracy: 0.7780
Epoch 17/75
218/218 [==============================] - 1s 5ms/step - loss: 0.4633 - accuracy: 0.7880 - val_loss: 0.4666 - val_accuracy: 0.7740
Epoch 18/75
218/218 [==============================] - 1s 5ms/step - loss: 0.4659 - accuracy: 0.7905 - val_loss: 0.4674 - val_accuracy: 0.7815
Epoch 19/75
218/218 [==============================] - 1s 5ms/step - loss: 0.4630 - accuracy: 0.7883 - val_loss: 0.4767 - val_accuracy: 0.7527
Epoch 20/75
218/218 [==============================] - 1s 5ms/step - loss: 0.4675 - accuracy: 0.7888 - val_loss: 0.4700 - val_accuracy: 0.7677
Epoch 21/75
218/218 [==============================] - 1s 5ms/step - loss: 0.4660 - accuracy: 0.7954 - val_loss: 0.4682 - val_accuracy: 0.7792
Epoch 22/75
218/218 [==============================] - 1s 5ms/step - loss: 0.4694 - accuracy: 0.7888 - val_loss: 0.4719 - val_accuracy: 0.7769
Epoch 23/75
218/218 [==============================] - 1s 5ms/step - loss: 0.4650 - accuracy: 0.7873 - val_loss: 0.4735 - val_accuracy: 0.7516
Epoch 24/75
218/218 [==============================] - 1s 5ms/step - loss: 0.4679 - accuracy: 0.7869 - val_loss: 0.4652 - val_accuracy: 0.7832
Epoch 25/75
218/218 [==============================] - 1s 6ms/step - loss: 0.4650 - accuracy: 0.7898 - val_loss: 0.4710 - val_accuracy: 0.7660
Epoch 26/75
218/218 [==============================] - 1s 5ms/step - loss: 0.4626 - accuracy: 0.7886 - val_loss: 0.4797 - val_accuracy: 0.7533
Epoch 27/75
218/218 [==============================] - 1s 6ms/step - loss: 0.4690 - accuracy: 0.7883 - val_loss: 0.4674 - val_accuracy: 0.7780
Epoch 28/75
167/218 [=====================>........] - ETA: 0s - loss: 0.4566 - accuracy: 0.7940

In [35]:
# predict with accuracy
y_pred = model.predict(X_val)
y_pred = np.round(y_pred).astype(int)

from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_val, y_pred)
print(f'Accuracy: {accuracy}')

55/55 [==============================] - 0s 2ms/step
Accuracy: 0.7814836112708453